body {
	background-color: #263238;
}

.home {
	padding: 0px;
	color: white;
}

.list {
	height: 100vh;
	overflow-y: auto;
}

.card {
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	transition: 0.3s;
}

.card:hover {
	box-shadow: 0 16px 32px 0 rgba(181, 181, 181, 0.4);
	width: 260px;
}

.card-image {
	width: 100%;
}

.card-name {
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
	color: white;
	background: linear-gradient(rgba(255, 255, 255, 0), black);
}

.name {
	margin: 10px;
}

.info {
	height: 100vh;
	overflow-y: auto;
}

.candidate-info {
	display: none;
}

.candidate-name {
}

.well {
	border: 0px;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
	transition: 0.3s;
}

.well:hover {
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.4);
}

.assets {
	background-color: #e53935;
}

.legal-case {
	background-color: #8e24aa;
}

.constituency {
	background-color: #3949ab;
}

.qualifications {
	background-color: #00897b;
}

.background {
	background-color: #f57f17;
}

.services-to-credit {
	background-color: #f4511e;
}

.years-of-service {
	background-color: #6d4c41;
}

.notable-achievements {
	background-color: #546e7a;
}

.campaigns {
	background-color: #1565c0;
}